body {
    background:linear-gradient(to right, #ff0000, #000000);
   background:radial-gradient(#000000, #ff0000);
    color: #ffffff;
}
    
h2 {
    color:#000000;
}

.title { background-color:#000000;
}


#title {
    background:linear-gradient(to right, #000000, #ff0000);
    color:rgb(255, 0, 0);
}
a, a:visited, a:active{
    padding:0px 3px;
    color:rgb(0, 0, 0);
}

a:hover{
    background-color: #000000;
    color: #ff0000
}
